<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<a href="/home" class="btn btn-primary" style="margin:15px">Back to Home</a>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-head">
        <div class="headerType1">
          <h2 style="margin: 0;padding: 19px;padding-bottom: 15px";> Community </h2>
        </div>
      </div>
      <!-- Header of the form -->
      <div class="card-body">
        <div class="container">

            <ul class="list-group">
              <li class="list-group-item" th:text="${'Community Name: '+community.name}"></li>
              <li class="list-group-item" th:text="${'Community Description: '+community.description}"></li>
              <li class="list-group-item" th:text="${'Community Language: '+community.language}"></li>
              <div th:switch="${community.publicity}">
                <li class="list-group-item" th:case="${true}"> Coommunity Publicity: Public </li>
                <li class="list-group-item" th:case="${false}"> Coommunity Publicity: Private </li>
              </div>
            </ul>
          <br/>
            <form action="#" th:action="@{/home/community/}" method="post" th:object="${community}">
              <input type="text" th:field="*{name}" /><br/>
              <br/>
              <button type="submit" class="btn btn-primary">See Posts</button>
            </form>

        </div>
      </div>
      <!-- Body of the form -->
    </div>
  </div>
</div>


</body>
</html>
