<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        input[type=radio] {
            margin-left: 45px;
        }
        input[type=checkbox] {
            margin-right: 190px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<a href="/home" class="btn btn-primary" style="margin:15px">Back to Home</a>

<div th:if="${showmessage}">
    <p>User created.</p>
</div>

<form action="#" th:action="@{/home/saveuser}" method="post" th:object="${user}">
    <label>Username:</label>
    <input type="text" th:field="*{username}" /><br/>
    <label>Email:</label>
    <input type="text" th:field="*{email}" /><br/>
    <button type="submit">Update</button>
</form>

</body>
</html>