<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Random Picture</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<a href="/home" class="btn btn-primary" style="margin:15px">Back to Home</a>
<div align="center">
  <h1>Set Random Picture</h1>
  <p th:if="${showmessage}">No such profile.</p>
  <form th:action="@{/home/setrandompic}" method="post">
    <label>Profile name:</label>
    <input type="text" th:value="${profilename}" name="profilename"/><br/>
  </br>
    <button type="submit" class="btn btn-primary">Set Random Pic</button>
  </form>

  <div th:if="${showpic}">
    <img th:src="${randompic}" height="600px">
  </div>
</div>
</body>
</html>
