<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Create New Post</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<a href="/home" class="btn btn-primary" style="margin:15px">Back to Home</a>
<div align="center">
  <h1>Update Post</h1>
  <br />
  <form action="#" th:action="@{/home/post/update/save}" th:object="${post}"
        method="post">

    <table border="0" cellpadding="10">

      <tr>
        <td>Post ID:</td>
        <td><input type="text" th:field="*{post_id}" /></td>
      </tr>
      <tr>
        <td>Location to Update:</td>
        <td><input type="text" th:field="*{location}" /></td>
      </tr>
      <tr>
        <td>Content to Update:</td>
        <td><input type="text" th:field="*{text}" /></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>